.active{
    background-color: #0b27a1;
    transition: 0.1s;
}
.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    overflow: hidden;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2rem;
}
.navbar ul li a{
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}
.navbar ul li a:not(.active):hover {
    background-color: #172554;
    border-radius: 5px;
}

.noHover:hover {
    background: none !important
}
