.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: linear-gradient(180deg,rgba(13, 13, 13, 0.94) 20%, rgba(4, 4, 4, 1) 50%, rgba(13, 13, 13, 1) 100%);
}