@import './components/css/reset.css';
@import './components/css/nav.css';
@import './components/css/footer.css';


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main {
    flex: 1;
}
