@import './components/css/reset.css';
@import './components/css/nav.css';
@import './components/css/footer.css';

body{
    background: url(./assets/black.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}
